<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.badlogic.androidgames.ch04androidbasics">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".LifeCycleTest"
            android:label="Life Cycle Test"
            android:configChanges="keyboard|keyboardHidden|orientation"/>

        <activity android:name=".SingleTouchTest"
            android:label="Single Touch Test"
            android:configChanges="keyboard|keyboardHidden|orientation"/>

        <activity android:name=".MultiTouchTest"
        android:label="Multi Touch Test"
        android:configChanges="keyboard|keyboardHidden|orientation"/>

        <activity android:name=".KeyTest"
            android:label="Key Test"
            android:configChanges="keyboard|keyboardHidden|orientation"/>

        <activity android:name=".AccelerometerTest"
            android:label="Accelerometer Test"
            android:configChanges="keyboard|keyboardHidden|orientation"/>

        <activity android:name=".AssetsTest"
            android:label="Assets Test"
            android:configChanges="keyboard|keyboardHidden|orientation"/>

        <activity android:name=".ExternalStorageTest"
            android:label="External Storage Test"
            android:configChanges="keyboard|keyboardHidden|orientation"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>





    </application>

</manifest>